@import "./assets/reset.css";
@import "./assets/vars.scss";

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background: $clr-bg-main;
  color: $clr-p-softblue;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr-white;
}

a {
  color: $clr-white;
  text-decoration: none;
}
